@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Big+Shoulders+Display:wght@700&family=Outfit:wght@400;600;700&family=Poppins:wght@200;300;400;600;700&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit, sans-serif;
}

body {
    background-color: hsl(218, 56%, 89%);
}

main {
    width: 300px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5%;
    margin: 20vh auto 2vh;
}

img {
    width: 100%;
    border-radius: 5%;
}

h3, p {
    text-align: center;
    margin-top: 8%;
}

h3 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
}

footer p {
    text-align: center;
    color: rgb(34, 34, 221);
}

footer a {
    color: hsl(223, 47%, 23%);
    text-decoration: none;
}

footer a:hover {
    color: blueviolet;
}

@media (max-width: 500px) {
    main {
        margin: 3vh auto 2vh;
    }
}